/* Remove overflow: hidden; from body */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html ::selection,
body ::selection,
*::selection {
  background: #abff32 !important;
  color: #222 !important;
}